{% extends "./utils/_layout.twig" %}

{% block content %}
    <table class="inner__table">
        <tr>
            <td class="text__p">
                <div>Здравствуйте,
                    {{ name }}!</div>
            </td>
        </tr>
        <tr>
            <td class="text__id">
                <div>Заявка № {{ number }}</div>
            </td>
        </tr>
        <tr>
            <td class="text__h1">
                <div>Спасибо. Ваша заявка поставлена в очередь</div>
            </td>
        </tr>
        <tr>
            <td class="text__p">
                <div>
                    Срок рассмотрения заявки может увеличиться. Сейчас у нас меньше пожертвований, чем необходимо для ответов на обращения. Пожалуйста, отнеситесь к этому с пониманием — мы обязательно вам ответим.
                </div>
            </td>
        </tr>
        <tr>
            <td class="text__p">
                <div>
                    Мы также можем задать вам дополнительные вопросы. Мы сообщим вам о ходе консультации по электронной почте.
                </div>
            </td>
        </tr>
    </table>

{% endblock content %}