{% extends "./utils/_layout.twig" %}

{% block content %}
    <table class="inner__table">
        <tr>
            <td class="text__p">
                <div>{{ name }}, посмотрите новое сообщение по вашей заявке №{{ number }}</div>
            </td>
        </tr>
        <tr>
            <td class="text__h1">
                <div>Специалист, занимающийся вашей заявкой, отправил вам сообщение.</div>
            </td>
        </tr>
        <tr>
            <td class="button__td">
                <table>
                    <tr>
                        <td class="btn btn__td">
                            <a target="_blank" href="{{link}}">
                                <nobr>Посмотреть сообщение</nobr>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock content %}