<h1>{{name}}, заполните анкету с вашими медицинскими данными и вопросы к врачу</h1>
<p>
  Мы выделили средства на консультацию для вас. <br>
  Пожалуйста, заполните анкету с вашими медицинскими данными и вопросы к врачу до <b>{{ date }}</b>. <br>
  После этого ваша заявка будет передана на рассмотрение подходящему врачу.
</p>

<a href={{ link }}><button>Заполнить анкету и вопросы врачу</button></a>
